.busca {
	background-color: #dcdcdc;
	border-radius: 5px;
	margin: 5px auto;
	padding: 2px;
	width: 90%;
}

.busca-titulo {
	font-size: 1em;
	margin-bottom: 0;
	padding-left: 10px;
	text-transform: uppercase;
}

.busca-form {
	padding: 10px;
	text-transform: uppercase;
}

.busca-form-campoBusca {
	border-radius: 5px;
	min-width: 170px;
	outline: none;
	vertical-align: middle;
}

.busca-form-lupa {
	vertical-align: middle;
}
