.destaque {
	margin: 5px auto;
	width: 90%;
}
	
	.destaque-busca {
		margin: 5px 0;
	}

	.destaque-menuDepartamentos {
		margin: 5px 0;
	}

@media(min-width:800px) {
	.destaque-buscaComMenuDepartamentos {
		display: inline-block;
		vertical-align: top;
		width: 39%;
	}
	
	.destaque-fotoPromocao {
		display: inline-block;
		margin: 5px 0;
		width: 60%;
	}	
}
