.header {
	margin: 0 auto;
	width: 90%;
}

.header-logo {
	margin-bottom: 0;
	text-align: center;
}

	.header-logo-image {
		max-width: 50%;
	}

.header-sacola {
	background: url('../../img/sacola.png') no-repeat top right;
	min-height: 35px;
	padding-right: 35px;
	padding-top: 20px;
	text-align: right;
}

.header-menu {
	text-align: center;
}

	.header-menu-list-item {
		display: inline;
		line-height: 1.8;
		list-style: none;
		margin: 5px;
	}

@media(min-width:600px) {
	.header {
		position: relative;
	}
	
	.header-logo {
		text-align: left;
	}
	
	.header-sacola {
		margin-top: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

@media(min-width:800px) {
	.header-menu-list {
		margin: 0;
	}
	
	.header-menu {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}